@use '../variables' as var;
@import '../mixins.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.coaches_section_container {
  padding: 0 5%;
}

.slideshow_container {
  position: relative;
  border-radius: 20px 20px 0 0;
}

.coach_container {
  padding: clamp(30px, 4vw, 90px) clamp(30px, 6vw, 90px);
  background-color: white;
  border-radius: 20px 20px 0 0;
  position: relative;
}

.coach_bottom_border {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 100%;
  height: 30px;
  border-radius: 0 0 20px 20px;
  background-color: var.$bg_green;
}

.overlapping_coaches {
  display: grid;
}

.coach_title {
  @include font($size: var.$section_header);
  text-align: center;
}

.coach_inner_container {
  @include flexCentered($direction: column);
  display: none;
  grid-area: 1 / 1;
}

.fadeIn {
  display: flex;
  @include easeIn($name: fadeIn, $duration: 2s);
}

.fadeOut {
  opacity: 0;
  @include easeIn($name: fadeOut, $duration: 1s);
}

.my_slides_left {
  width: 100%;
  max-width: 462px;
  height: 100%;
  display: flex;
}

.my_slides_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
}

.coach_pic {
  margin: auto;
  border-radius: 20px;
  max-height: 450px;
  max-width: 100%;
}

.coach_name {
  @include font($size: var.$header_medium_text);
}

.coach_description {
  @include font();
}

.coach_stats_outer_container {
  display: flex;
  margin-bottom: 10px;
}

.coach_stats_inner_container {
  width: clamp(100px, 20vw, 120px);
  margin-right: clamp(5px, 2vw, 10px);
}

.coach_stat_number {
  @include font($size: var.$header_medium_text, $bottom: 5px, $color: var.$bg_green, $weight: 700);
  display: block;
}

.coach_stat_text {
  @include font();
  display: block;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.dots_container {
  display: none;
}

.active_dot,
.dot:hover {
  background-color: #717171;
}

@media screen and (min-width: 768px) {
  .dots_container {
    @include flexCentered;
    padding-top: 20px;
    height: 20px;
  }

  .coach_inner_container {
    flex-direction: row;
    justify-content: space-between;
    min-height: 465px;
  }

  .coach_title {
    width: 40%;
  }

  .my_slides_left {
    width: 40%;
  }

  .my_slides_right {
    min-height: 100%;
    margin-top: 0;
    width: 50%;
    justify-content: space-between;
  }
}
