@use "../variables" as var;

.sign_up_header,
.form_price {
  font-size: var.$form_title;
}

.form_label,
.sign_up_text,
option,
select,
input,
.quantity_button,
.date_input,
.input_quantity,
.PhoneInputInput {
  font-size: var.$form_label;
}

@media screen and (min-width: 400px) {
  input,
  option,
  select,
  .quantity_button,
  .date_input,
  .input_quantity,
  .PhoneInputInput {
    font-size: var.$form_input;
  }
}

@media screen and (min-width: 612px) {
  .sign_up_header,
  .form_price {
    font-size: var.$max_form_title;
  }

  .form_label,
  .sign_up_text {
    font-size: var.$max_form_label;
  }

  input,
  option,
  select,
  .quantity_button,
  .date_input,
  .input_quantity,
  .PhoneInputInput {
    font-size: var.$max_form_input;
  }
}
