.panel_container {
  overflow-x: hidden;
}

.marquee_top {
  display: flex;
  animation: slideLeft 30s linear infinite;
  transform: translateX(-6vw);
}

.marquee_bottom {
  display: flex;
  animation: slideRight 30s linear infinite;
  transform: translateX(-210vw);
}

.marquee_image {
  width: 250px;
  margin: 10px;
  border-radius: 20px;
}

.marquee_image:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .marquee_image {
    width: 32vw;
    margin: 1vw;
  }
}

@media screen and (min-width: 1000px) {
  .marquee_image {
    width: 320px;
    margin: 10px;
  }

  .marquee_top {
    animation: slideLeftMax 30s linear infinite;
    transform: translateX(-80px);
  }

  .marquee_bottom {
    display: flex;
    animation: slideRightMax 30s linear infinite;
    transform: translateX(-2120px);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-6vw);
  }

  100% {
    transform: translateX(-210vw);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-210vw);
  }

  100% {
    transform: translateX(-6vw);
  }
}

@keyframes slideLeftMax {
  0% {
    transform: translateX(-80px);
  }

  100% {
    transform: translateX(-2120px);
  }
}

@keyframes slideRightMax {
  0% {
    transform: translateX(-2120px);
  }

  100% {
    transform: translateX(-80px);
  }
}
