@use "variables" as var;

@mixin input_button {
  margin: 15px 0;
  background-color: rgba(149, 149, 149, 0.199);
  border-radius: 5px;
  padding: 5px 5px 5px 10px;
  height: 5vw;
}

@mixin max_text($currentSize) {
  font-size: calc(($currentSize / 100) * 768px);
}

.programs_background {
  background-color: var.$bg_gray;
  color: white;
  padding: 40px 5%;
  position: relative;
}

.programs_title {
  font-size: calc(2.2em + 1vw);
  font-weight: 500;
  padding-bottom: 10px;
}

.programs_container {
  display: flex;
  flex-direction: column;
}

.programs_menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.programs_menu_item {
  color: var.$fade_text_color;
  font-size: calc(1.5em + 1vw);
  padding: 35px 0;
  border-bottom: 1px solid var.$fade_text_color;
  transition: 0.3s;
  cursor: pointer;
}

.programs_menu_active {
  color: white;
  border: none;
}

.programs_menu_item:hover {
  font-size: calc(1.8em + 1vw);
  transition: 0.3s;
}

.program_mobile {
  display: none;
  transition: 0.8s;
}

.program_mobile_active {
  display: block;
  border-bottom: 1px solid var.$fade_text_color;
  transition: 0.8s;
  font-size: calc(0.75em + 1vw);
  color: white;
  padding-bottom: 35px;
}

.program_desktop {
  display: none;
}

//Signup Form

.sign_up_container {
  background-color: white;
  color: black;
  max-width: 500px;
  border-radius: 15px;
  padding: 25px;
  margin: 50px auto;
}

.sign_up_header {
  font-size: var.$form_title;
  padding-bottom: 10px;
}

.sign_up_text {
  font-size: var.$form_description;
  padding-bottom: 10px;
}

.sign_up_form {
}

.form_label {
  font-size: var.$form_label;
  font-weight: 300;
  color: black;
  padding-bottom: 0px;
}

.input_container {
  @include input_button();
  font-size: 1px;
}

//Phone Input plugin
.PhoneInput {
  display: flex;
  margin: 5px auto 15px;
}

.PhoneInputCountry {
  @include input_button();
  display: flex;
  margin: 0 15px 0 0;
  padding-left: 0;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
  max-width: 115px;
}

.PhoneInputCountrySelect {
  margin: 0 10px;
  font-size: 0;
  width: 20px;
  padding: 3px;
}

.PhoneInputCountryIcon {
  width: 10vw;
  height: 100%;
  display: flex;
}

.PhoneInputCountryIconImg {
  max-height: 60%;
  border-radius: 2px;
  margin: auto;
}

option {
  font-size: var.$form_input;
}

.PhoneInputInput {
  @include input_button();
  display: inline-block;
  margin: 0;
  padding-left: 10px;
  width: 100%;
  font-size: var.$form_input;
}

//Quantity, date, and price
.date_and_price_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
  height: 5vw;
}

.input_form_icon_person {
  width: 10vw;
  max-width: 50px;
}
.input_quantity_container {
  display: flex;
  @include input_button();
}

.quantity_button {
  background: unset;
  border: none;
  font-size: 3vw;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.input_quantity {
  display: inline-block;
  text-align: center;
  font-size: var.$form_input;
}

.input_date_container {
  @include input_button();
  display: flex;
}

.date_input {
  font-size: var.$form_input;
  margin: auto;
}

.form_price {
  color: green;
  font-size: 4.5vw;
  font-weight: 700;
  margin: auto 0;
  cursor: default;
}

.form_price::after {
  content: "$";
  font-weight: 700;
}

.accept_submit_container {
  display: flex;
  align-content: center;
  height: 5vw;
  margin: 15px 0 0;
  padding: 5px 0;
}

.accept_box {
  width: 20px;
  margin: 0 20px;
  cursor: pointer;
}

.accept_terms_text {
  width: 60%;
}

.sign_up_btn_container {
  width: 35%;
  margin-left: 10px;
}

.sign_up_btn {
  width: 100%;
  height: 5vw;
  background-color: var.$bg_green;
  color: white;
  font-size: var.$form_input;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .form_price {
    font-size: calc((4.5 / 100) * 600px);
  }
}

@media screen and (min-width: 768px) {
  .sign_up_header {
    @include max_text(var.$max_form_title);
  }

  .sign_up_text {
    @include max_text(var.$max_form_description);
  }

  .form_label {
    @include max_text(var.$max_form_label);
  }

  .input_container,
  .date_and_price_container,
  .input_quantity_container,
  .input_date_container,
  .PhoneInputCountry,
  .PhoneInputInput,
  .accept_submit_container,
  .accept_box,
  .sign_up_btn {
    height: calc((5 / 100) * 768px);
  }

  .quantity_button {
    @include max_text(3);
  }

  option,
  .PhoneInputInput,
  .input_quantity,
  .date_input,
  .sign_up_btn {
    @include max_text(var.$max_form_input);
  }
}

@media screen and (min-width: 1000px) {
  .programs_background {
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 0;
    height: 815px;
  }

  .programs_title {
    font-size: calc((5 / 100) * 1000px);
    margin-bottom: 10px;
  }

  .programs_container {
    flex-direction: row;
    justify-content: space-between;
    height: 92%;
  }

  .programs_menu {
    max-height: 500px;
  }

  .programs_menu_item {
    font-size: calc((3.5 / 100) * 1000px);
  }
  .programs_menu_item:hover {
    font-size: calc((4 / 100) * 1000px);
  }

  .programs_menu {
    min-width: 40%;
  }

  .programs_container_desktop_right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-top: 30px;
    margin-left: 10%;
    height: 96%;
  }

  .programs_menu_active {
    border-bottom: 1px solid var.$fade_text_color;
  }

  .program_mobile_active {
    display: none;
  }

  .program_desktop_active {
    display: block;
    transition: 0.8s;
    font-size: calc((2 / 100) * 1000px);
    color: white;
    padding-bottom: 35px;
    width: 90%;
  }

  .sign_up_container {
    margin: 0 0 -50px;
  }
}

@media screen and (min-width: 1200px) {
  .programs_background {
    height: 760px;
  }
}

@media screen and (min-width: 1400px) {
  .programs_background {
    height: 740px;
  }
}

@media screen and (min-width: 1500px) {
}
