@use "../variables" as var;

.about_us_title {
  font-size: var.$section_title;
}

.about_us_title_description {
  font-size: var.$sub_title;
}

.about_us_cards_container {
  color: white;
}

.about_us_card_title {
  font-size: var.$card_title;
}

.about_us_card_description {
  font-size: var.$general_text;
}

.subscribe_title {
  font-size: calc(1em + 1vw);
  color: black;
}

.email_form_btn {
  color: white;
  font-size: var.$general_text;
}

@media screen and (min-width: 768px) {
  .about_us_title {
    font-size: var.$max_section_title;
  }

  .about_us_title_description {
    font-size: var.$desktop_sub_title;
  }

  .about_us_card_title {
    font-size: var.$desktop_card_title;
  }

  .about_us_card_description {
    font-size: var.$desktop_general_text;
  }

  .subscribe_title {
    // @include max_text(2.2);
  }
}

@media screen and (min-width: 1000px) {
  .about_us_card_title {
    font-size: var.$max_card_title;
  }

  .about_us_card_description {
    font-size: var.$max_general_text;
  }
}

@media screen and (min-width: 1500px) {
  .about_us_title_description {
    font-size: var.$max_sub_title;
  }
}
